// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: lightgray;
$blue: #337ab7;
$green: lighten(green, 10%);

.todo {
	margin: 25px;
	border: 1px solid $border-color;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 $border-color;
}

a:visited {
	color: $blue;
}
a:hover {
	background: none;
}

a {
	transition: 0.3s all;
}

.delete a {
	color: red;
 
	&:hover {
		color: darkred;
	}
}

.edit {
	.glyphicon {
		&-unchecked {
			color: $blue;
			&:hover {
				color: darken($blue, 10%);
			}
		}
		&-ok {
			color: $green;
			&:hover {
				color: darken($green, 10%)
			}
		}
	}
}
.edit a:hover{
	color: darkgreen;
}

@mixin border-bottom($size: null) {
	@if $size {
		border-bottom: $size solid $border-color;
	} @else {
		border-bottom: none;
	}
}

.border {
	border-top: 1px solid $border-color; 
	border-bottom: 1px solid $border-color; 
}

.todo-item {
	@include border-bottom();
}

.todo-list {
	@include border-bottom(1px);
}

.todo-item .edit {
	padding: 1em;
}

.todo-item .desc {
	border: solid $border-color;
	border-width: 0 1px;
	padding: 1em;
}

.todo-item .delete {
	padding: 1em;
}